<template>
  <div class="container">
    <form @submit="submitForm">
      <div class="row mt-3">
        <div class="col">
          <h1>{{id==0?"Cadastrar":"Editar"}} funcionario</h1>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark float-right" v-on:click="btExcluir" v-bind:class="{'d-none':id==0}">Excluir</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="input-group col-3">
          <input type="text" id="nome" v-model="nome" class="form-control " placeholder="Nome" required="" >
        </div>
        <div class="input-group col-3">
          <select class="custom-select" v-model="sexo" required="">
            <option selected disabled>Sexo</option>
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label class="float-right">Data nascimento</label>
            </div>
            <div class="col">
              <input type="date" class="form-control" v-model="dataNascimento" required="">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-1">
          <button type="button" class="btn btn-danger" v-on:click="btVoltar">Cancelar</button>
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-success">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'CreateUpdateFuncionario',
  data () {
    return {
      id:0,
      nome:'',
      sexo:'',
      dataNascimento:''
    }
  },
  mounted(){
        var id = this.$route.params.id
        if(id!=null)
        {
          axios.get('http://localhost:49160/funcionarios/'+id,{headers:{'content-type':'application/json',Authorization:'Basic '+sessionStorage.getItem('token')}})
            .then(res=>{
                console.log(res)
                var obj = res.data[0];

                this.id = obj.id;
                this.nome = obj.nome;
                this.dataNascimento = obj.dataNascimento.substring(0,10);
                this.sexo = obj.sexo;
            })
        }
        
      },
  methods:{
      btVoltar: function(event){
        this.$router.push('/home')
      },
      btExcluir:function(event){
        axios.delete('http://localhost:49160/funcionarios/'+this.id,{headers:{'content-type':'application/json',Authorization:'Basic '+sessionStorage.getItem('token')}})
            .then(res=>{
              this.$router.push('/home')

            })
      },
      submitForm: function(e){
        e.preventDefault()
        var obj = JSON.stringify({
            id:this.id,
            nome:this.nome,
            sexo:this.sexo,
            dataNascimento:this.dataNascimento
        })
        if(this.id==0)
        {
          axios.post('http://localhost:49160/funcionarios/',obj,{headers:{'content-type':'application/json',Authorization:'Basic '+sessionStorage.getItem('token')}})
            .then(res=>{
              this.$router.push('/home')

            })
        }
        else
        {
          axios.put('http://localhost:49160/funcionarios/'+this.id,obj,{headers:{'content-type':'application/json',Authorization:'Basic '+sessionStorage.getItem('token')}})
            .then(res=>{
              this.$router.push('/home')

            })
        }
        
      }
  }
  
}
</script>
