<template>
  <div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>Funcionarios</h1>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary float-right" v-on:click="addFuncionario">
                Adiconar funcionario
            </button>
        </div>
        
    </div>
    <div class="row mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Data Nascimento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody v-for="f in List">
                <tr>
                    <th scope="row">{{f.id}}</th>
                    <td>{{f.nome}}</td>
                    <td>{{f.sexo}}</td>
                    <td>{{f.dataNascimento}}</td>
                    <td><button type="button" class="btn btn-secondary" v-on:click="editFuncionario(f.id)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Home',
  data () {
    return {
      List:[]
    }
  },
  mounted(){
      axios.get('http://localhost:49160/funcionarios',{headers:{'content-type':'application/json',Authorization:'Basic '+sessionStorage.getItem('token')}})
      .then(res=>{
          this.List=res.data
      })
  },
  methods:{
      addFuncionario: function(event){
        this.$router.push('/Add')
      },
      editFuncionario(id){
        this.$router.push('/Edit/'+id)
      }
  }
}
</script>

