<template>
  <div class="text-center">
      <form class="form-singin" style="width:300px;position:absolute;left:38%;bottom:50%" @submit="submitLogin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <div class="row mb-3">
            <input type="text" id="user" v-model="user" class="form-control " placeholder="Usuario" required="" autofocus="">
        </div>
        <div class="row mb-3">
            <input type="password" id="password" v-model="password" class="form-control" placeholder="Senha" required="">
        </div>
        
        <div class="row">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </div>
      </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'Login',
  data(){
      return{
            user:"admin",
            password:"admin",
        }
  },
  mounted(){
      if(sessionStorage.getItem('token')!=null)
      {
          this.$router.push('/home')
        //   window.location.href="#/home/"
      }
  },
  methods:{
      submitLogin:function(e){
        e.preventDefault()
        var obj = JSON.stringify({
            username:this.user,
            password:this.password
        })
        axios.post('http://localhost:49160/user/authenticate'
                   ,obj
                   ,{headers:{'content-type':'application/json'}}
                  ).then(res=>{
                    //   sessionStorage.getItem('data');
                      var token = btoa(this.user+':'+this.password)
                      sessionStorage.setItem('token', token);
          this.$router.push('/home')

                    //   window.location.href="#/home/"
                  })
          
      }
  }
}
</script>
